/* Flexbox styling for the body to center content */
body {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;    /* Center horizontally */
    min-height: 100vh;      /* Full viewport height */
    margin: 0;              /* Remove default margin */
    background-color: #f0f0f0; /* Optional background color */
    font-family: Tahoma;
}

.dataFilter {
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: center; /* Center elements vertically */
    position: sticky;
    margin: 0;
    padding: 0;
    top: 0; /* Ensure the filter sticks at the top */
    width: 100%;
    height: auto;
    z-index: 1000; /* Keeps the sticky element on top of other content */
    box-sizing: border-box; /* Ensure padding is included in width */
    background-color: rgba(83, 83, 83);
}

.dataFilter .centered {
    margin: 0;
    padding: 0;
    padding-right: 20px;
    display: flex;
    justify-items: center;
    flex-wrap: wrap; 
} 

.dataFilter .centered label {
    padding-right: 24px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    align-items: center;
} 

#btnRefresh {
    border: none;
    display: flex;          /* Use Flexbox layout */
    align-items: center;    /* Center items vertically */
    padding: 10px;          /* Add some padding for better appearance */
    font-size: 14px;        /* Adjust font size as needed */
    cursor: pointer;        /* Change cursor to pointer on hover */
    background-color:  rgb(0,64,128);
    color: white;
    overflow: hidden ;
    transition: background-color 0.3s, color 0.3s, border 0.3s; /* Smooth transition for hover effects */
    height: 30px;
    position: relative;

}


#btnRefresh:hover {
    color: #f1f1f1;
    background-color: rgb(53,154,255);
    border: 2px solid #f1f1f1;     /* Border on hover */    
}



details {
    color:rgba(128, 128, 128);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 10;
    cursor: pointer;
}


select {
    font-size: 12px;
    cursor: pointer;
    height: 30px;
}

option {
    font-family: Tahoma;
    font-size: 12px;
    cursor: pointer;
}

/* From index.html */

.sidenav {
    height: 100%;
    width: 200px; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    z-index: 2000;
    font-size: 12px; 
    padding: 20px; /*sideNav is initially open */
    box-sizing: border-box; /* Include padding and border in width */
}


.sidenav .image-wrapper {
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Center the image horizontally */
    margin-bottom: 0px;  
    flex-direction: column;
}

.sidenav #dateScope {
    display: flex;
    width: auto;
    height: 30px;
    border-width: .5px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.sidenav img {
    border: 5px solid #fff; /* Example border, adjust as needed */
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
}

.sidenav a {
    display: block; /* Ensure each link is on its own line */
    color: #fff; /* Example text color */
    text-decoration: none; /* Remove underline from links */
    padding: 10px; /* Add some padding for better appearance */
    text-align: left;
}

.sidenav a:hover {
    background-color: #575757; 
}

/* CSS from Portfolio - 
    see how 'closed' is defined as a class in CSS?*/
    .sidenav.closed {
        width: 0;
        padding: 0;
        overflow: hidden; 
    }
    .main.closed {
        width: 94%; 
    }
    .sidenav.closed + .main {
        margin-left: 0; 
    }
    .sidenav:not(.closed) + .main {
        margin-left: 200px; 
    }
    .main {
        width: calc(94% - 200px); 
        transition: width 0.5s; 
        flex-grow: 1; 
    }

/* End CSS from Portfolio */

.openbtn {
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    height: 30px;
    position: relative; /* Make sure the button is positioned */
}
.openbtn:hover {
    color: #f1f1f1;
    background-color: rgb(128,128,128) ;
    border: 2px solid #f1f1f1;
}


.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    margin-bottom: 50px; /* Space below each chart container */
    margin-top: 30px; /* Space below each chart container */
    background-color: white;

}


.barChartContainer {
    display: flex; /* Use flexbox to align children side by side */
    flex-direction: row; /* Align children horizontally */
    justify-content: space-between; /* Distribute space between children */
    align-items: flex-start; /* Align children to the top */
    width: 100%; /* Make sure container takes full width */
    gap: 20px; /* Add gap between the charts */
    box-sizing: border-box; /* Include padding and border in width calculation */
    padding: 20px; /* Optional: Add padding around the container */
    height: 700px;
}

.barChart1 {
    flex: 1; /* Allow charts to grow equally */
    max-width: 48%; /* Limit width to prevent overflow */
    box-sizing: border-box; /* Include padding and border in width calculation */
    height: 100%;
}

/* style for storeChart */
#storeChart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}

#ytdChart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}

/* Flex container for the two charts */
.storeChartContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

/* The first chart occupying 70% of the parent width */
.storeChart1 {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}

/* The second chart occupying 30% of the parent width */
.storeChart2 {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}

/* Ensure canvas elements take full width and height of their containers */
canvas {
    width: 100% !important;
    height: 100% !important;
}

footer {
    color: white;
    display:flex;
    justify-content: space-between; /* Space out items to the left and right */
    align-items: center;      /* Center items vertically */
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in width */
    background-color: rgba(83, 83, 83);

    font-family: 'Times New Roman';
    font-style: italic;
    padding: 10px ;
    margin: 10px;
    
}

footer img {
    width: 40px;
    height: 40px;
}

/* new style */

.imageWrapper {
    display: flex; /* Flexbox for centering */
    align-items: center; /* Center the items vertically */
}

.imageWrapper p {
    margin-left: 10px; /* Add some space between the image and text */
}

    /* Floating down arrow icon */
    #scrollIcon {
        position: fixed;
        top: 40px;
        right: 40px;

        width: 60px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: white;
        font-size: 24px;
        z-index: 1000; /* Make sure it's on top */
        transition: opacity 0.3s ease;
    }

    #scrollIcon.hidden {
        opacity: 0;
        pointer-events: none;
    }



@media (max-width: 768px) {
    .chart-container {
        max-width: 100%; 
        padding: 10px; 
    }
    select {
        width: 120px;
        height: 40px;
        font-size: 18;
    }
    #multiStore {
        font-size: 10px;
    }

    .btnRefresh::after {
        position: absolute; /* Position the icon/text */
        left: 50%; /* Center it */
        top: 50%; /* Center it */
        transform: translate(-50%, -50%); /* Adjust for centering */
    }
    
    #radioOutright {
        font-size: 12px;
    }
    #brandChart h5 {
        font-size: 16px;

    }
    .openbtn {
        height: auto;
    }

}

